<h1>{{ datename }}</h1>
<form action="/nights/{{ night.id }}/book/" method="post">
{% csrf_token %}
 {{ form.as_p }}
 <p> One guest per line </p>
 <input type="submit" value="Update" />
</form>
<h2> Members </h2>
<ul>
{% for member in night.members.all %}
    <li>{{ member.username }}</li>
{% endfor %}
</ul>
<h2> Guests </h2>
<ul>
{% for guest in night.guest_set.all %}
    <li>{{ guest.name }}</li>
{% endfor %}
</ul>
<h2> Comments </h2>
{% for comment in night.comment_set.all %}
    <p>{{comment.poster.username}} - {{comment.text}}</p>
{% endfor %}

<form action="/nights/{{ night.id }}/comment/" method="post">
{% csrf_token %}
<textarea rows="6" cols="60" name="commentText">
</textarea>
<input type="submit" value="Comment" />
</form>
